include ../layout



block head
    link(rel='stylesheet', href='css/landing.css')
block content
    #main
        h1 🎺 Genre Graph 🎻
        a.button(href="/login") Log-In
        p.
            This app needs certain permissions from your Spotify account in order to work properly.
            #[br/] You'll be able to #[a(href="https://www.spotify.com/us/account/apps/") revoke] these permissions again if you wish.