#main-container
    #header-container
        h3 Foo Bar
    #content-container
        #graph-container
            canvas#graph
        #selector-container
    #player-container
        #title-display-container
            include components/track_title.pug
        #playback-container
            include components/playback.pug
        #player-control-container