@require 'vars'

border-debug = {
  border: 1px solid debug-color
}

spread-max = {
  width: 100vw
  height: 100vh
}


flex-row = {
    display: flex
    flex-direction: row
}

flex-column = {
    display: flex
    flex-direction: column
}

flex-around = {
  justify-content: space-around
}

flex-center = {
  justify-content: center
}

flex-left = {
  justify-content: flex-start
}

flex-top = {
  justify-content: flex-start
}

@font-face
  font-family: 'Roboto'
  src: url("./fonts/Roboto/Roboto-Regular.ttf")

// New:
top-bar-height = 50px
bottom-bar-height = 100px
right-bar-width = 350px
album-size-small = 80px

bottom-bar-left-width = 300px
bottom-bar-right-width = 300px

playback-bar-height = 5px
playback-buttons-margin = 20px

progress-bar-margin-rl = 20px

div
  //{border-debug}

body, html
  width: 100%
  height: 100%
  color: light-grey
  font-family: 'Roboto', sans-serif
  margin: 0
  padding: 0
  background: black

  &::-webkit-scrollbar
      width: 6px
      background-color: light-grey
  &::-webkit-scrollbar-thumb
      background-color: black

a
  color: light-grey
  &:hover
    color: white
  
  &:active
    color: dark-grey

#main
  {flex-column}
  {flex-around}
  width: 100%
  height: 100%
  overflow: hidden
  align-items: stretch
  position: absolute
  

  .top
    height: top-bar-height

  .middle
    flex-grow: 1
    {flex-row}
    
    overflow: hidden // needed to make flex scroll [1]

    .left
      flex-grow: 1
    .right
      width: right-bar-width
  
  .bottom
    
    {flex-row}
    {flex-center}
    height: bottom-bar-height
    background-color: light-black

    .left
      width: bottom-bar-left-width

    .center
      flex-grow: 1

    .right
      width: bottom-bar-right-width
  
#top-bar
  background-color: almost-black


#track-info
  {flex-row}
  {flex-left}

  .cover-image-container
    
    {flex-column}
    {flex-center}
    
    img
      width: album-size-small
      height: album-size-small
      margin-left: 5px


  .text-container
    
    {flex-column}
    {flex-center}

#playback
  
  {flex-column}
  {flex-center}

  .playback-controls
    flex-grow: 1
    
    {flex-column}
    {flex-center}
  
    .buttons
        
        {flex-row}
        {flex-center}
        align-items: center

  .playback-progress
    
    {flex-row}
    {flex-center}
    flex-grow: 1

    .bar-container
      flex-grow: 1
      text-align: center
      
      {flex-center}
      {flex-column}
      

    .time-right, .time-left
      width: 100px
      text-align: center
      
      {flex-center}
      {flex-column}
      p
        margin-bottom: 0 !important

#navbar-right
  display: flex
  {flex-column}
  overflow: auto

  background-color: almost-black
  padding: 10px

  &::-webkit-scrollbar-track
  &::-webkit-scrollbar 
    width: 0px // Todo: Enable?
    background-color: light-grey;

  &::-webkit-scrollbar-thumb 
    background-color: almost-black;

  h2
    border-bottom: 2px solid light-black
    padding: 10px

.song, .artist, .playlist
  display: flex
  {flex-row}
  {flex-center}

  .cover
    padding: 5px
    img
      width: album-size-small
      height: album-size-small
  
  .titles
      flex-grow: 1
      padding: 5px
      h3, h5
        margin: 0

.artist
  .cover
    img
        border-radius: 100%

#progress-bar
  width: 100%
  background-color: dark-grey
  boder-radius: playback-bar-height / 2
  div // Progress bar holder
    height: playback-bar-height
    width: 34% // temporary
    background-color: light-grey
    border-radius: playback-bar-height / 2

#playback-buttons
  a
    margin-left: playback-buttons-margin
    margin-right: playback-buttons-margin
    font-size: 15pt

#graph-container
  flex-grow: 1
  display: flex

#graph
  display: block
  //width: 100% !important
  //height: 100% !important





// [1] : https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content