

#playback-top
    h3
        a: i.ion.ion-play-skip-back-circle
        a: i.ion.ion-play
        a: i.ion.ion-play-skip-forward-circle
#playback-bottom
    #playback-time-left-container
        p 12:04
    #playback-progress-bar-container
        #main-playback-progress-bar
            #main-playback-progress
    #playback-time-right-container
        p 14:45
