
#album-cover-container
    img(src="images/example_album_art.jpg").album-cover-small
#track-title-container
    div
        h4 Tee Time sljdlaskdjaslkdsjasldkjasldjklakjsd
    div
        h5 Vulfpeck