#main
    .top
        h3 Foo Bar
            a(href="/login")  Log In
    .middle
        .left#graph-container
            canvas#graph
        .right
    .bottom
        .left#track-info
            include trackinfo
        .center#playback
            include playback
        .right#loudness-controls
            include loudness