#main-container
    #header-container
        h3 Foo Bar
    #content-container
        #graph-container
            canvas#graph
        #selector-container
    #player-container
        #title-display-container
            include track_title
        #playback-container
            include playback
        #player-control-container