//- Parent: #playback

.playback-controls
    .buttons#playback-buttons
        a#prev-button: i.ion.ion-play-skip-back-circle
        a#play-button: i.ion.ion-play
        a#next-button: i.ion.ion-play-skip-forward-circle
.playback-progress
    .time-left
        p 4:03
    .bar-container
        // Outer dive is bg, inner is progress
        #progress-bar
            div
    .time-right
        p 12:13
