//- Parent: #playback

.playback-controls
    .buttons#playback-buttons
        a: i.ion.ion-play-skip-back-circle
        a: i.ion.ion-play
        a: i.ion.ion-play-skip-forward-circle
.playback-progress
    .time-left
        p 4:03
    .bar-container
        #progress-bar
            // Progress bar holder
            div
    .time-right
        p 12:13
