//- Parent: #track-info
.cover-image-container
    img.album-cover-small#currentPlayingAlbumImg
.text-container
    #currentPlayingAlbumTitle
    #currentPlayingArtistName
    h3#currentPlayingTrackTitle
    